* {
  box-sizing: border-box;
  font-family: helvetica;
}

body {
  margin: 0;
  background-color: #101820;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-container {
  position: fixed;
  top: 0;
  z-index: 69;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #101820;
}

.nav-container-logo {
  margin-right: 423px;
}

.nav__logo__label {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  transition: color 0.5s ease;
}

.nav__logo__label:hover {
  color: #00cf8f;
}

.nav__links__chevron {
  transition: transform 0.2s ease-in;
}

.nav__links-container {
  margin-right: 20px;
  display: inline-block;
}

.nav__links-container:hover .nav__links__chevron {
  transform: rotate(180deg);
}

.nav__links__label {
  position: relative;
  font-size: 14px;
  color: #ffffff;
  transition: color 0.4s ease;
}

.nav__links__label:hover {
  color: #00cf8f;
}

.nav__submenu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  padding: 10px 10px 15px 24px;
  border-radius: 12px;
  overflow: hidden;
}

.nav__submenu-preview {
  display: flex;
  flex-direction: column;
}

.nav__submenu__link {
  color: #101820;
  margin-right: 40px;
  margin-bottom: 10px;
}

.nav__submenu__image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.nav__submenu-pink-circle__image {
  position: absolute;
  top: 25%;
  left: 70%;
}

.nav__links-container:hover ~ .nav__submenu {
  display: block;
}

.nav__links__order-button {
  background-color: #00cf8f;
  padding: 14px 16px;
  border: 0px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.nav__links__order-button:hover {
  background-color: #f09400;
}

.nav__links__order-label {
  padding-left: 10px;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.nav__order-button__chevron-img {
  margin-left: 10px;
  margin-right: 10px;
}

.hero {
  margin-top: 20px;
}

.hero-info {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 300px;
  margin-bottom: 16px;
}

.hero__heading {
  color: #ffffff;
  text-align: center;
  font-size: 76px;
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 44px;
}

.hero__order-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #00cf8f;
  padding: 14px 16px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 300px;
  transition: background-color 0.4s ease;
}

.hero__order-button:hover {
  background-color: #f09400;
}

.hero__order-label {
  padding-left: 10px;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.hero__order-button__chevron-img {
  margin-left: 10px;
  margin-right: 10px;
}

.content {
  margin-left: 150px;
  margin-right: 150px;
}

.content__heading {
  color: #ffffff;
  font-size: 34px;
  margin-bottom: 30px;
}

.content-info {
  color: #ffffff;
  font-size: 13px;
  margin-bottom: 50px;
}

.content-preview-wrapper {
  display: flex;
}

.content-preview-left {
  margin-right: 40px;
}

.content-preview-left-main {
  position: relative;
  margin-bottom: 35px;
}

.content-preview-left-main__image {
  width: 550px;
}

.content-preview-left__about {
  position: absolute;
  color: #ffffff;
  background: linear-gradient(to right top, rgb(82, 50, 14), rgb(16, 12, 12));
  bottom: 3px;
  right: 0px;
  padding: 16px;
  border-radius: 12px 0;
  width: 280px;
}

.content-preview-left-secondary {
  position: relative;
}

.content-preview-left-secondary__image {
  width: 550px;
}

.content-half-circle__image {
  position: absolute;
  top: 36px;
  left: -20px;
}

.content-preview-left-secondary__about {
  position: absolute;
  color: #ffffff;
  background: linear-gradient(to right top, rgb(82, 50, 14), rgb(16, 12, 12));
  bottom: 3px;
  left: 0px;
  padding: 16px;
  border-radius: 0 12px;
  width: 200px;
}

.content-preview-right-main {
  position: relative;
}

.content-preview-right-main__image {
  width: 550px;
}

.content-preview-right__about {
  position: absolute;
  color: #ffffff;
  background: linear-gradient(to right top, rgb(82, 50, 14), rgb(16, 12, 12));
  bottom: 4px;
  right: 0px;
  padding: 16px;
  border-radius: 12px 0;
  width: 200px;
}

.blog {
  margin-top: 60px;
  margin-left: 150px;
  margin-right: 150px;
}

.blog__heading {
  color: #ffffff;
  font-size: 34px;
  margin-bottom: 30px;
}

.blog-wrapper {
  display: flex;
}

.blog-main__post {
  position: sticky;
  top: 0;
  margin-right: 30px;
}

.blog-main__post__image {
  width: 550px;
  margin-bottom: 30px;
  transition: border 0.4s ease;
}

.blog-main__post__group-name {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 16px;
  transition: color 0.4s ease;
}

.blog-main__post__title {
  color: #ffffff;
  font-size: 26px;
  transition: color 0.4s ease-in;
}

.blog-main__post:hover > .blog-main__post__image {
  border: 4px solid #0042ce;
  border-radius: 16px;
}

.blog-main__post:hover > .blog-main__post__group-name {
  color: #0042ce;
}

.blog-main__post:hover > .blog-main__post__title {
  color: #0042ce;
}

.blog-sub__post-wrapper {
  display: flex;
  margin-bottom: 12px;
}

.blog-sub__post__image {
  width: 50%;
  height: 35%;
  transition: border 1s ease;
}

.blog-sub__post-info {
  color: #ffffff;
  margin-top: 20px;
  margin-left: 20px;
}

.blog-sub__post__group-name {
  font-size: 14px;
  margin-bottom: 30px;
  transition: color 0.4s ease;
}

.blog-sub__post__title {
  transition: color 0.4s ease-in;
}

.blog-sub__post-wrapper:hover > .blog-sub__post__image {
  border: 4px solid #0042ce;
  border-radius: 16px;
}

.blog-sub__post-wrapper:hover
  > .blog-sub__post-info
  > .blog-sub__post__group-name {
  color: #0042ce;
}

.blog-sub__post-wrapper:hover > .blog-sub__post-info > .blog-sub__post__title {
  color: #0042ce;
}

.process {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
}

.process__heading {
  color: #ffffff;
  font-size: 34px;
  text-align: center;
  padding-left: 180px;
  padding-right: 180px;
  margin-bottom: 60px;
}

.process-showcase {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
}

.process-showcase__member {
  color: #ffffff;
  background-color: #101820;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #ffffff;
  border-radius: 16px;
  padding: 20px;
  z-index: 1;
  transition: color 0.4s ease-in, border 0.4s ease;
}

.process-showcase__member:hover {
  color: #f09400;
  border: 1px solid #f09400;
}

.process-box {
  border: 1px solid #ffffff;
  padding: 40px;
  border-radius: 60px;
  margin-top: -30px;
}

.process-arrow-right {
  color: #ffffff;
  border: 0px solid #ffffff;
  width: 0;
  transform: rotate(40deg);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -19px;
}

.process-arrow-left {
  color: #ffffff;
  border: 0px solid #ffffff;
  width: 0;
  transform: rotate(-50deg);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.process-preview-wrapper {
  margin-top: 100px;
  display: flex;
  color: #ffffff;
  overflow: auto;
  margin-bottom: 200px;
}

.process-step-container {
  border: 1px solid #1d525c;
  border-radius: 8px;
  padding: 60px;
  margin-right: 120px;
  transition: border 0.4s ease;
}

.process-step-container:last-child {
  margin-right: 0;
}

.process-step-container:hover {
  border: 1px solid #ffffff;
}

.process-step__heading {
  font-size: 22px;
  margin-bottom: 16px;
}

.process-step__about {
  font-size: 12px;
  width: 300px;
}
