/* Tamno plava (pozadina) #101820
Tirkizna (botuni) #00cf8f
Zuta (botuni) ##f09400
Plava (borderi) #0042ce */

* {
  box-sizing: border-box;
  font-family: helvetica;
}

body {
  margin: 0;
  background-color: #101820;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 14px;
}

.nav__logo__label {
  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
  transition: color 0.5 ease;
}

.nav__logo__label:hover {
  color: #00cf8f;
}

.nav__links__label {
  font-size: 14px;
  color: #ffffff;
  transition: color 0.4s ease;
}

.nav__links__label:hover {
  color: #00cf8f;
}

.nav__links__chevron {
  transition: stroke 0.5 ease, transform 1 ease-in;
}

.nav__links-container:hover .nav__links__chevron {
  stroke: #00cf8f;
  transform: rotate(180deg);
}

.nav__links-container {
  margin-right: 20px;
  position: relative;
  display: inline-block;
}

.nav__submenu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  padding: 20px 20px 10px 20px;
  border-radius: 12px;
  overflow: hidden;
}

.nav__links-container:hover .nav__submenu {
  display: block;
}

.nav__submenu__link {
  color: #101820;
  margin-right: 26px;
  margin-bottom: 10px;
}

.nav__submenu__image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.nav__submenu__images {
  position: absolute;
  top: 25%;
  left: 70%;
}

.nav__links__order-button {
  background-color: #00cf8f;
  padding: 14px 16px;
  border: 0px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.nav__links__order-button:hover {
  background-color: #f09400;
}

.nav__links__order-label {
  padding-left: 10px;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.nav__order-button__chevron-img {
  margin-left: 10px;
  margin-right: 10px;
}

.hero {
  margin-top: 20px;
}

.hero-info {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-top: 260px;
  margin-bottom: 16px;
}

.hero-heading {
  color: #ffffff;
  text-align: center;
  font-size: 76px;
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 44px;
}

.hero__order-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #00cf8f;
  padding: 14px 16px;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 300px;
  transition: background-color 0.4s ease;
}

.hero__order-button:hover {
  background-color: #f09400;
}

.hero__order-label {
  padding-left: 10px;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.hero__order-button__chevron-img {
  margin-left: 10px;
  margin-right: 10px;
}

.content {
  margin-left: 150px;
  margin-right: 150px;
}

.content-heading {
  color: #ffffff;
  font-size: 34px;
  margin-bottom: 30px;
}

.content-info {
  color: #ffffff;
  font-size: 13px;
  margin-bottom: 50px;
}

.content-preview-wrapper {
  display: flex;
}

.content-preview-left {
  margin-right: 40px;
}

.content-preview-left-main {
  position: relative;
  margin-bottom: 35px;
}

.content-preview-left-main__image {
  width: 550px;
}

.content-preview-left-about {
  position: absolute;
  color: #ffffff;
  background: linear-gradient(to right top, rgb(82, 50, 14), rgb(16, 12, 12));
  bottom: 4px;
  right: 0px;
  padding: 16px;
  border-radius: 12px 0;
  width: 280px;
}

.content-preview-left-secondary {
  position: relative;
}

.content-preview-left-secondary__image {
  width: 550px;
}

.content-half-circle__image {
  position: absolute;
  top: 36px;
  left: -20px;
}

.content-preview-left-secondary-about {
  position: absolute;
  color: #ffffff;
  background: linear-gradient(to right top, rgb(82, 50, 14), rgb(16, 12, 12));
  bottom: 3px;
  left: 0px;
  padding: 16px;
  border-radius: 0 12px;
  width: 200px;
}

.content-preview-right-main {
  position: relative;
}

.content-preview-right-main__image {
  width: 550px;
}

.content-preview-right-about {
  position: absolute;
  color: #ffffff;
  background: linear-gradient(to right top, rgb(82, 50, 14), rgb(16, 12, 12));
  bottom: 4px;
  right: 0px;
  padding: 16px;
  border-radius: 12px 0;
  width: 200px;
}
