/* Tamno plava (pozadina) #101820
Tirkizna (botuni) #00cf8f
Zuta (botuni) ##f09400
Plava (borderi) #0042ce */

* {
  box-sizing: border-box;
  font-family: helvetica;
}

body {
  margin: 0;
  background-color: #000000;
}

a {
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
}

.nav__logo__label {
  color: #ffffff;
}

.nav__links-container {
  margin-right: 20px;
}

.nav__links__label {
  font-size: 12px;
  color: white;
}

.nav__links__order-button {
    background-color: #00cf8f;
    padding: 10px 5px;
    border: 0px;
    border-radius: 25px;
}

.nav__links__order-label {
    padding-left: 10px;
    font-weight: 600;
}

.nav__order-button__chevron-img {
    margin-right: 10px;
}
